include extern/pybind11/LICENSE
include src/python.cpp
graft extern/SCTL/include
graft extern/BIEST/include
graft extern/pybind11/include
graft extern/pybind11/tools
graft cmake
graft virtual_casing-stubs
global-include CMakeLists.txt *.cmake
global-include *.pyi py.typed
